.viewContainer {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageView {
  margin-top: 20px;
  max-width: 640px;
  width: 100%;
}

.metaContainer {
  width: 100%;
  background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.tags {
  margin-right: 15px;
}

.user {
  margin-left: 15px;
  margin-right: auto;
}

.errorText {
  margin-top: 50px;
  color: red;
}
